{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>landslide</h1>
    <p class="lead">A WebApp.</p>
    <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Create</h2>
        <p>
            Create data.
        </p>
        <p><a class="btn btn-default" href="data/create">Create Data &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Show</h2>
        <p>Show all.</p>
        <p><a class="btn btn-default" href="data">Show All Data &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Coming Soon</h2>
        <p></p>
        <p><a class="btn btn-default" href="#">More &raquo;</a></p>
    </div>
</div>

{% endblock %}
